body{
    display:flex;
    justify-content: center;
    align-items: center;
}
#big{
    width:50%;
    min-Height:50%;
    background-color: aquamarine;
   margin-left: 262px;
   margin-top: 97px;
   background-image: url(OIP\ \(1\).jpg);
   background-repeat: no-repeat;
   background-size: cover;

}
.container{
    width:80%;
    height:630px;
    background-color: cadetblue;
    text-align: center;
}
#dreamtext{
    margin-top: 20px;
    width:80%;
    height:40px;
}
p{
    animation-name: frombottom;
    animation-delay: 1s;
    animation-duration: 5s;
}
@keyframes frombottom{
    from {margin-bottom: 0px;
    font-size: small;}
  to {margin-bottom: 50px;
    font-size: x-large;}
}